<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/editUser.css">
        <title>Edit User</title>
    </head>
    <body>
        <div class="login-form"> 
          <h2>Editar Perfil</h2>
            <% //if(locals.errors){ %>
                <% //for (let oneError in errors) { %>
                    <p><%//=errors[oneError].msg%></p>
            <% //} %>
          <% //} %> 
            <section class="section">
                <form class="section form" action="editUser?_METHOD=PUT" method="POST" enctype="multipart/form-data" >
                   
                    <div class="campo">
                        <label for="pass">Nueva Contraseña</label>
                        <input type="password" name="pass" placeholder="Contraseña" value="<%=locals.oldData?oldData.pass:null%>"/>
                        <% if(locals.errors && errors.pass) {%> 
                            <p class="validationProfile"><%= errors.pass.msg %></p> 
                        <% } %> 
                    </div>
                    
                    <div class="campo">
                        <label for="avatar">Foto de Perfil</label>
                        <input type="file" class="btn-register" name="avatar" accept=".jpg, .png"/>
                        <% if (locals.errors && errors.avatar) { %>
                            <div class="classeError">
                                <%=errors.avatar.msg%>
                            </div>
                            <% } %>
                    </div>
                    
                    
                    <br>
                                    
                    <button type="submit" class="btn-login">Guardar</button>
                    <div style="display: inline;">
                        <a href="/" class="btn-cancel">Cancelar</a> 
                    </div>    
                </form>
            </div>
            </section>
                            
    </body>

</html>